/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cal-day-number {
  font-weight: 600 !important;
  opacity: 0.9 !important;
}
